body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url("../img/bj.png") no-repeat;
    background-size: cover;

}
/*行星名字*/
.top{
    height: 0.8rem;
    width: 100%;
    position: relative;
}
.top .back{
    width: 0.8rem;
    height: .8rem;
    position: absolute;
    top: 0.2rem;
    left: 0.3rem;
}
.top .audioPlaya{
    width: 0.8rem;
    position: absolute;
    top: 0.2rem;
    right: 0.3rem;
    display: none;
}
.top .audioPlay1{
    width: 0.8rem;
    position: absolute;
    top: 0.2rem;
    right: 0.3rem;
    display: none;
}

.top .topName{
    height: 0.8rem;
    width: 4.6rem;
    position: absolute;
    top: 0.3rem;
    left: 36%;
}
/*内容*/
#swiper-container1{
    height: 60%;
    width: 100%;
    /*background: red;*/
    position: relative;
    top: 0.4rem;
    left: 0;
}
.picImg{
    /*height: 93%;*/
    /*width: 41.2%;*/
    /*position: absolute;*/
    /*top: 6%;*/
    /*left: 13%;*/
}
.picShow{
    height: 87%;
    width: 41%;
    background: url("../img/xq_pic_intro_bj.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 13%;
    top: 9%;
}
.picShow div{
    color: #fbfafd;
    font-size: 0.3rem;
    /* margin-top: 0.4rem; */
    margin-left: 0.6rem;
    height: 18%;
    /*line-height: 1.2rem;*/
    margin-top: 3%;
}
.picShow div img{
    width: 0.35rem;
    margin-left: 0.1rem;
}
.picShow p{
    color: #fbfafd;
    font-size: 0.3rem;
    margin-left: 0.7rem;
    margin-bottom: 0.2%;
    height:18%;
    margin-top: 1%;
    /*line-height: 1rem;*/
}
.picShow p:nth-child(2){
    
    margin-left: 0.8rem;
    /*line-height: 1rem;*/
}
.picShow p:nth-child(3){
    margin-left: 0.75rem;
    /*line-height: 1rem;*/
}
.picShow p:nth-child(4){
    margin-left: 0.7rem;
    margin-bottom: 0;
}
.picShow p:nth-child(5){
    margin-left: 0.4rem;
    height: 15%;
    /*line-height: 0.8rem;*/
}
/* 缩略图 */
#swiper-container2{
    width: 10.85rem;
    position: absolute;
    bottom: 0;
    left: 15%;
}
#swiper-container2 .swiper-slide{
    height: 10%;
    width: 20%;
    margin-top: 5%;
}
#swiper-container2 .swiper-slide-active{
    height: 10%;
    width: 22%;
    margin-top: 3.5%;
}
#swiper-container2 .swiper-slide img{
    height: 100%;
    width: 100%;
}
/*构造*/
.structureLeft,
.structureRight{
    height: 78%;
    width: 38%;
    border-radius: 0.2rem;
    position: absolute;
    top: 14%;
    /*opacity: 0.5;*/
}
.structureLeft{
    left: 12%;
}
.structureRight{
    right: 10%;
}
.structureLeft .structureTop,
.structureRight .structureTop{
    height: 20%;
    width: 100%;
    background-color: #0ca5fd;
    opacity: 0.63;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
.structureLeft p,
.structureRight p{
    position: absolute;
    top: 0;
    color: #fbfafd;
    padding-top: 0.23rem;
    padding-left: 0.2rem;
}
.structureLeft .structureBottom{
    height: 85%;
    width: 100%;
    background-color: #0ca5fd;
    opacity: 0.36;
    /*border-bottom-left-radius: 0.2rem;*/
    /*border-bottom-right-radius: 0.2rem;*/
}
.structureLeft img{
    position: absolute;
    top: 0.9rem;
    height: 72%;
    margin-left: 0.1rem;
}
#container{
    height: 85%;
    width: 100%;
    overflow: hidden;
}
/*图、内容*/
.picContent{
    height: 95%;
    width: 76%;
    background: url("../img/xq_pic_font_bj.png") no-repeat;
    background-size: 100% 100% ;
    margin-top: 1%;
    margin-left: 12%;
}
.picContent img{
    /*height: 91%;*/
    /*width: 60%;*/
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    float: left;
}
.picContent p{
    color: #fbfafd;
    height: 70%;
    /*width: 47%;*/
    margin-left: 2%;
    margin-top: 7.7%;
    float: left;
    overflow: hidden;
    font-size: 0.34rem;
    line-height: 0.4rem;
    overflow-y: scroll;
    text-align: justify;
    letter-spacing: 2px;
}


/* 增加图片 */
.addImg{
    position: absolute;
    top: 0;
    left: 0;
}
#highcharts-ii7dlkw-0{
    border-radius: 0 0 .2rem .2rem;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and
(-webkit-device-pixel-ratio: 3) {
    /*增加头部适配层*/

    .picImg {
        height: 100%;
        width: 6rem;
        position: absolute;
        top: 0;
        left: 1.3rem;
    }
    #swiper-container1 {
        height: 4.5rem;
        width: 100%;
        /* background: red; */
        position: relative;
        top: 0.4rem;
        left: 0;
    }
    .picShow {
        height: 4.7rem;
        width: 7.6rem;
        background: url(../img/xq_pic_intro_bj.png) no-repeat;
        background-size: 100% 90%;
        background-position: 1%;
        position: absolute;
        right: 1.9rem;
        top: 0;
    }
    #swiper-container2 .swiper-slide {
        height: 1.2rem;
        width: 1.6rem;
        margin-top: 0.68rem;
    }
    #swiper-container2 .swiper-slide-active {
        height: 1.4rem;
        width: 2rem;
        margin-top: .5rem;
    }
    .picShow div {
        color: #fbfafd;
        font-size: 0.3rem;
        margin-top: 0.2rem;
        margin-left: 0.6rem;
        height: 0.64rem;
        line-height: 1.2rem;
    }
    .picShow p:nth-child(2) {
        margin-left: 0.8rem;
        line-height: 1.4rem;
    }
    .structureLeft img {
        position: absolute;
        top: 0.9rem;
        height: 2.5rem;
        margin-left: 0.6rem;
    }
    .structureLeft .structureBottom {
        height: 3rem;
        width: 100%;
        background-color: #0ca5fd;
        opacity: 0.36;
        /*border-bottom-left-radius: 0.2rem;*/
        /*border-bottom-right-radius: 0.2rem;*/
    }

    .structureLeft, .structureRight {
        height: 3.9rem;
        width: 6.45rem;
        border-radius: 0.2rem .2rem 0 0 ;
        position: absolute;
        top: 0.5rem;
        overflow: hidden;
        /* opacity: 0.5; */
    }

    .picContent {
        height: 5.4rem;
        width: 12.2rem;
        background: url(../img/xq_pic_font_bj.png) no-repeat;
        margin-top: 0.25rem;
        background-size: 100% 79%;
        margin-left: 1.9rem;
    }

    .picContent img {
        height: 3.9rem;
        width: 5.8rem;
        margin-left: 0.25rem;
        margin-top: 0.25rem;
        float: left;
    }

    .picContent p {
        color: #fbfafd;
        height: 2.8rem;
        width: 5.6rem;
        margin-left: 0.25rem;
        margin-top: .9rem;
        float: left;
        overflow: hidden;
        font-size: 0.34rem;
        line-height: 0.4rem;
        overflow-y: scroll;
        text-align: justify;
    }

}