body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url("../img/bj.png") no-repeat;
    background-size: cover;

}
/*行星名字*/
.top{
    height: 0.8rem;
    width: 100%;
    position: relative;
}
.top .back{
    width: 0.8rem;
    height: .8rem;
    position: absolute;
    top: 0.2rem;
    left: 0.3rem;
}
.top .audioPlay{
    width: 0.8rem;
    position: absolute;
    top: 0.2rem;
    right: 0.3rem;
}
.top .topName{
    height: 0.8rem;
    width: 4.6rem;
    position: absolute;
    top: 0.3rem;
    left: 5.7rem;
}
/*内容*/
#swiper-container1{
    height: 5.9rem;
    width: 100%;
    /*background: red;*/
    position: relative;
    top: 0.4rem;
    left: 0;
}
.picImg{
    height: 100%;
    width: 7.8rem;
    position: absolute;
    top: 0;
    left: 1.3rem;
}
.picShow{
    height: 4.7rem;
    width: 6.6rem;
    background: url("../img/xq_pic_intro_bj.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 1.7rem;
    top: 0.6rem;
}
.picShow div{
    color: #fbfafd;
    font-size: 0.3rem;
    /* margin-top: 0.4rem; */
    margin-left: 0.6rem;
    height: 0.94rem;
    line-height: 1.2rem;
}
.picShow div img{
    width: 0.35rem;
    margin-left: 0.1rem;
}
.picShow p{
    color: #fbfafd;
    font-size: 0.3rem;
    margin-left: 0.7rem;
    height: 0.94rem;
    line-height: 1rem;
}
.picShow p:nth-child(2){
    
    margin-left: 0.8rem;
    line-height: 1.1rem;
}
.picShow p:nth-child(3){
    margin-left: 0.9rem;
    line-height: 1.1rem;
}
.picShow p:nth-child(4){
    margin-left: 0.7rem;
}
.picShow p:nth-child(5){
    margin-left: 0.4rem;
    line-height: 0.8rem;
}
/* 缩略图 */
#swiper-container2{
    width: 10.85rem;
}
#swiper-container2 .swiper-slide{
    height: 1.45rem;
    width: 2.2rem;
    margin-top: 0.5rem;
}
#swiper-container2 .swiper-slide-active{
    height: 1.89rem;
    width: 2.7rem;
    margin-top: 0.1rem;
}
#swiper-container2 .swiper-slide img{
    height: 100%;
    width: 100%;
}
/*构造*/
.structureLeft,
.structureRight{
    height: 4.4rem;
    width: 6.45rem;      
    border-radius: 0.2rem;
    position: absolute;
    top: 1rem;
    /*opacity: 0.5;*/
}
.structureLeft{
    left: 1.5rem;
}
.structureRight{
    right: 1.5rem;
}
.structureLeft .structureTop,
.structureRight .structureTop{
    height: 0.9rem;
    width: 100%;
    background-color: #0ca5fd;
    opacity: 0.63;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
.structureLeft p,
.structureRight p{
    position: absolute;
    top: 0;
    color: #fbfafd;
    padding-top: 0.23rem;
    padding-left: 0.2rem;
}
.structureLeft .structureBottom{
    height: 3.5rem;
    width: 100%;
    background-color: #0ca5fd;
    opacity: 0.36;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
.structureLeft img{
    position: absolute;
    top: 0.9rem;
    height: 3.5rem;
    margin-left: 0.1rem;
}
#container{
    height: 3.5rem;
    width: 100%;
}
/*图、内容*/
.picContent{
    height: 5.4rem;
    width: 12.2rem;
    background: url("../img/xq_pic_font_bj.png") no-repeat;
    background-size: cover;
    margin-top: 0.25rem;
    margin-left: 1.9rem;
}
.picContent img{
    height: 4.9rem;
    width: 7.4rem;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    float: left;
}
.picContent p{
    color: #fbfafd;
    height: 3.8rem;
    width: 4rem;
    margin-left: 0.25rem;
    margin-top: 1.1rem;
    float: left;
    overflow: hidden;
    font-size: 0.34rem;
    line-height: 0.4rem;
    overflow-y: scroll;
    text-align: justify;
}


/* 增加图片 */
.addImg{
    position: absolute;
    top: 0;
    left: 0;
}
